<h1><%= @user.username %></h1>

<dl>
  <dt>ID</dt>
  <dd><%= @user.id %></dd>
  <dt>Private</dt>
  <dd><%= @user.private.to_s %></dd>

  <%if session.fetch(:user_id) != @user.id%>
  <td>
      <form action="/follow">
    <label for="follow_user"></label>
    <button id="follow_user"  type="button"  name="follow_user">Follow</button>
    <%end%>
    </td>
<%if session.fetch(:user_id) == @user.id%>
  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">
      <button>Update user</button>
    </form>
    <%end%>
  </dd>
</dl>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <% @user.own_photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) %> ago
    </td>
    
    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>
